<div class="main">
    <a> <img class="icon" src="chat.ico"> </a>
        <nav class="nav">
        <a class="navItem"> Home</a> | <a class="navItem">Reports </a> |
        <a class="navItem" href="/create">Update/Register</a> | <a class="navItem">Ranking</a> |
        <a class="navItem">About Us</a>
    </nav>
</div>


