:root{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main{
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: auto;
    /* background-color: black; */
}
.icon{
    /* height: 10%; */
    width: 30%;
}
.nav{
    
    border: 2px solid black;
    width: 80vw;
    /* background-color: aqua; */
    font-size: 1.3rem;
    align-self:center;
    margin-left: -20%;
}
.nav a, a:visited{
    text-decoration: none;
    color:black
}
.nav a:hover{

    color: rgb(255, 70, 70);
}
.navItem{
    margin:0% 5%;
}

.nav a {
    text-decoration:brown;
}
.infoHub{
    display: flex;
    flex-direction: column;
}